# Purpose

Explore PySpark and the JDBC connection functionality to read from operational databases.

In this notebook we will setup a PostgreSQL instance and populate it with the Pagila dataset. We will then connect to the database via a JDBC connector.

# Setup

## PostgreSQL

Firstly, let's install postgres in the this Colab instance.

In [1]:
!sudo apt install postgresql postgresql-contrib

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
postgresql-contrib is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

In [2]:
!service postgresql start

 * Starting PostgreSQL 14 database server
   ...done.

Create a user in Postgres ([stackoverflow](https://stackoverflow.com/questions/12720967/how-to-change-postgresql-user-password/12721020#12721020))

In [3]:
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'test';"

ALTER ROLE

Store you database password in an environmental variable so that we need no type it in all the time (not advisable generally).

We'll use the notebook magic `%end`

In [4]:
%env PGPASSWORD=test

env: PGPASSWORD=test

## Pagila

Now, let's populate the PostgreSQL database with the Pagila data from the tutorial.

In [5]:
!git clone https://github.com/spatialedge-ai/pagila.git

fatal: destination path 'pagila' already exists and is not an empty directory.

In [6]:
!psql -h localhost -U postgres -c "create database pagila"

ERROR:  database "pagila" already exists

In [7]:
!psql -h localhost -U postgres -d pagila -f "pagila/pagila-schema.sql"

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
psql:pagila/pagila-schema.sql:29: ERROR:  type "mpaa_rating" already exists
ALTER TYPE
psql:pagila/pagila-schema.sql:39: ERROR:  type "year" already exists
ALTER DOMAIN
psql:pagila/pagila-schema.sql:56: ERROR:  function "_group_concat" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:73: ERROR:  function "film_in_stock" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:90: ERROR:  function "film_not_in_stock" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:135: ERROR:  function "get_customer_balance" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:157: ERROR:  function "inventory_held_by_customer" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:194: ERROR:  function "inventory_in_stock" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:212: ERROR:  function "last_day" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:227: ERROR:  function "last_updated" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:241: ERROR:  relation "customer_customer_id_seq" already exists
ALTER TABLE
SET
SET
psql:pagila/pagila-schema.sql:265: ERROR:  relation "customer" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:329: ERROR:  function "rewards_report" already exists with same argument types
ALTER FUNCTION
psql:pagila/pagila-schema.sql:341: ERROR:  function "group_concat" already exists with same argument types
ALTER AGGREGATE
psql:pagila/pagila-schema.sql:355: ERROR:  relation "actor_actor_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:369: ERROR:  relation "actor" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:383: ERROR:  relation "category_category_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:396: ERROR:  relation "category" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:410: ERROR:  relation "film_film_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:434: ERROR:  relation "film" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:447: ERROR:  relation "film_actor" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:460: ERROR:  relation "film_category" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:483: ERROR:  relation "actor_info" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:497: ERROR:  relation "address_address_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:515: ERROR:  relation "address" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:529: ERROR:  relation "city_city_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:543: ERROR:  relation "city" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:557: ERROR:  relation "country_country_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:570: ERROR:  relation "country" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:595: ERROR:  relation "customer_list" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:618: ERROR:  relation "film_list" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:632: ERROR:  relation "inventory_inventory_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:646: ERROR:  relation "inventory" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:660: ERROR:  relation "language_language_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:673: ERROR:  relation "language" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:696: ERROR:  relation "nicer_but_slower_film_list" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:710: ERROR:  relation "payment_payment_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:727: ERROR:  relation "payment" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:743: ERROR:  relation "payment_p2020_01" already exists
psql:pagila/pagila-schema.sql:744: ERROR:  "payment_p2020_01" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:760: ERROR:  relation "payment_p2020_02" already exists
psql:pagila/pagila-schema.sql:761: ERROR:  "payment_p2020_02" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:777: ERROR:  relation "payment_p2020_03" already exists
psql:pagila/pagila-schema.sql:778: ERROR:  "payment_p2020_03" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:794: ERROR:  relation "payment_p2020_04" already exists
psql:pagila/pagila-schema.sql:795: ERROR:  "payment_p2020_04" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:811: ERROR:  relation "payment_p2020_05" already exists
psql:pagila/pagila-schema.sql:812: ERROR:  "payment_p2020_05" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:828: ERROR:  relation "payment_p2020_06" already exists
psql:pagila/pagila-schema.sql:829: ERROR:  "payment_p2020_06" is already a partition
ALTER TABLE
psql:pagila/pagila-schema.sql:843: ERROR:  relation "rental_rental_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:860: ERROR:  relation "rental" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:879: ERROR:  relation "sales_by_film_category" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:893: ERROR:  relation "staff_staff_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:914: ERROR:  relation "staff" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:928: ERROR:  relation "store_store_id_seq" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:942: ERROR:  relation "store" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:964: ERROR:  relation "sales_by_store" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:985: ERROR:  relation "staff_list" already exists
ALTER TABLE
psql:pagila/pagila-schema.sql:995: ERROR:  multiple primary keys for table "actor" are not allowed
psql:pagila/pagila-schema.sql:1003: ERROR:  multiple primary keys for table "address" are not allowed
psql:pagila/pagila-schema.sql:1011: ERROR:  multiple primary keys for table "category" are not allowed
psql:pagila/pagila-schema.sql:1019: ERROR:  multiple primary keys for table "city" are not allowed
psql:pagila/pagila-schema.sql:1027: ERROR:  multiple primary keys for table "country" are not allowed
psql:pagila/pagila-schema.sql:1035: ERROR:  multiple primary keys for table "customer" are not allowed
psql:pagila/pagila-schema.sql:1043: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:pagila/pagila-schema.sql:1051: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:pagila/pagila-schema.sql:1059: ERROR:  multiple primary keys for table "film" are not allowed
psql:pagila/pagila-schema.sql:1067: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:pagila/pagila-schema.sql:1075: ERROR:  multiple primary keys for table "language" are not allowed
psql:pagila/pagila-schema.sql:1083: ERROR:  multiple primary keys for table "rental" are not allowed
psql:pagila/pagila-schema.sql:1091: ERROR:  multiple primary keys for table "staff" are not allowed
psql:pagila/pagila-schema.sql:1099: ERROR:  multiple primary keys for table "store" are not allowed
psql:pagila/pagila-schema.sql:1106: ERROR:  relation "film_fulltext_idx" already exists
psql:pagila/pagila-schema.sql:1113: ERROR:  relation "idx_actor_last_name" already exists
psql:pagila/pagila-schema.sql:1120: ERROR:  relation "idx_fk_address_id" already exists
psql:pagila/pagila-schema.sql:1127: ERROR:  relation "idx_fk_city_id" already exists
psql:pagila/pagila-schema.sql:1134: ERROR:  relation "idx_fk_country_id" already exists
psql:pagila/pagila-schema.sql:1141: ERROR:  relation "idx_fk_customer_id" already exists
psql:pagila/pagila-schema.sql:1148: ERROR:  relation "idx_fk_film_id" already exists
psql:pagila/pagila-schema.sql:1155: ERROR:  relation "idx_fk_inventory_id" already exists
psql:pagila/pagila-schema.sql:1162: ERROR:  relation "idx_fk_language_id" already exists
psql:pagila/pagila-schema.sql:1169: ERROR:  relation "idx_fk_original_language_id" already exists
psql:pagila/pagila-schema.sql:1176: ERROR:  relation "idx_fk_payment_p2020_01_customer_id" already exists
psql:pagila/pagila-schema.sql:1183: ERROR:  relation "idx_fk_staff_id" already exists
psql:pagila/pagila-schema.sql:1190: ERROR:  relation "idx_fk_payment_p2020_01_staff_id" already exists
psql:pagila/pagila-schema.sql:1197: ERROR:  relation "idx_fk_payment_p2020_02_customer_id" already exists
psql:pagila/pagila-schema.sql:1204: ERROR:  relation "idx_fk_payment_p2020_02_staff_id" already exists
psql:pagila/pagila-schema.sql:1211: ERROR:  relation "idx_fk_payment_p2020_03_customer_id" already exists
psql:pagila/pagila-schema.sql:1218: ERROR:  relation "idx_fk_payment_p2020_03_staff_id" already exists
psql:pagila/pagila-schema.sql:1225: ERROR:  relation "idx_fk_payment_p2020_04_customer_id" already exists
psql:pagila/pagila-schema.sql:1232: ERROR:  relation "idx_fk_payment_p2020_04_staff_id" already exists
psql:pagila/pagila-schema.sql:1239: ERROR:  relation "idx_fk_payment_p2020_05_customer_id" already exists
psql:pagila/pagila-schema.sql:1246: ERROR:  relation "idx_fk_payment_p2020_05_staff_id" already exists
psql:pagila/pagila-schema.sql:1253: ERROR:  relation "idx_fk_payment_p2020_06_customer_id" already exists
psql:pagila/pagila-schema.sql:1260: ERROR:  relation "idx_fk_payment_p2020_06_staff_id" already exists
psql:pagila/pagila-schema.sql:1267: ERROR:  relation "idx_fk_store_id" already exists
psql:pagila/pagila-schema.sql:1274: ERROR:  relation "idx_last_name" already exists
psql:pagila/pagila-schema.sql:1281: ERROR:  relation "idx_store_id_film_id" already exists
psql:pagila/pagila-schema.sql:1288: ERROR:  relation "idx_title" already exists
psql:pagila/pagila-schema.sql:1295: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:pagila/pagila-schema.sql:1302: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:pagila/pagila-schema.sql:1309: ERROR:  relation "payment_p2020_01_customer_id_idx" already exists
psql:pagila/pagila-schema.sql:1316: ERROR:  relation "payment_p2020_02_customer_id_idx" already exists
psql:pagila/pagila-schema.sql:1323: ERROR:  relation "payment_p2020_03_customer_id_idx" already exists
psql:pagila/pagila-schema.sql:1330: ERROR:  relation "payment_p2020_04_customer_id_idx" already exists
psql:pagila/pagila-schema.sql:1337: ERROR:  relation "payment_p2020_05_customer_id_idx" already exists
psql:pagila/pagila-schema.sql:1344: ERROR:  relation "payment_p2020_06_customer_id_idx" already exists
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
ALTER INDEX
psql:pagila/pagila-schema.sql:1435: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:pagila/pagila-schema.sql:1442: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:pagila/pagila-schema.sql:1449: ERROR:  trigger "last_updated" for relation "address" already exists
psql:pagila/pagila-schema.sql:1456: ERROR:  trigger "last_updated" for relation "category" already exists
psql:pagila/pagila-schema.sql:1463: ERROR:  trigger "last_updated" for relation "city" already exists
psql:pagila/pagila-schema.sql:1470: ERROR:  trigger "last_updated" for relation "country" already exists
psql:pagila/pagila-schema.sql:1477: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:pagila/pagila-schema.sql:1484: ERROR:  trigger "last_updated" for relation "film" already exists
psql:pagila/pagila-schema.sql:1491: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:pagila/pagila-schema.sql:1498: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:pagila/pagila-schema.sql:1505: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:pagila/pagila-schema.sql:1512: ERROR:  trigger "last_updated" for relation "language" already exists
psql:pagila/pagila-schema.sql:1519: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:pagila/pagila-schema.sql:1526: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:pagila/pagila-schema.sql:1533: ERROR:  trigger "last_updated" for relation "store" already exists
psql:pagila/pagila-schema.sql:1541: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:pagila/pagila-schema.sql:1549: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:pagila/pagila-schema.sql:1557: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:pagila/pagila-schema.sql:1565: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:pagila/pagila-schema.sql:1573: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:pagila/pagila-schema.sql:1581: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:pagila/pagila-schema.sql:1589: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:pagila/pagila-schema.sql:1597: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:pagila/pagila-schema.sql:1605: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:pagila/pagila-schema.sql:1613: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:pagila/pagila-schema.sql:1621: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:pagila/pagila-schema.sql:1629: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:pagila/pagila-schema.sql:1637: ERROR:  constraint "payment_p2020_01_customer_id_fkey" for relation "payment_p2020_01" already exists
psql:pagila/pagila-schema.sql:1645: ERROR:  constraint "payment_p2020_01_rental_id_fkey" for relation "payment_p2020_01" already exists
psql:pagila/pagila-schema.sql:1653: ERROR:  constraint "payment_p2020_01_staff_id_fkey" for relation "payment_p2020_01" already exists
psql:pagila/pagila-schema.sql:1661: ERROR:  constraint "payment_p2020_02_customer_id_fkey" for relation "payment_p2020_02" already exists
psql:pagila/pagila-schema.sql:1669: ERROR:  constraint "payment_p2020_02_rental_id_fkey" for relation "payment_p2020_02" already exists
psql:pagila/pagila-schema.sql:1677: ERROR:  constraint "payment_p2020_02_staff_id_fkey" for relation "payment_p2020_02" already exists
psql:pagila/pagila-schema.sql:1685: ERROR:  constraint "payment_p2020_03_customer_id_fkey" for relation "payment_p2020_03" already exists
psql:pagila/pagila-schema.sql:1693: ERROR:  constraint "payment_p2020_03_rental_id_fkey" for relation "payment_p2020_03" already exists
psql:pagila/pagila-schema.sql:1701: ERROR:  constraint "payment_p2020_03_staff_id_fkey" for relation "payment_p2020_03" already exists
psql:pagila/pagila-schema.sql:1709: ERROR:  constraint "payment_p2020_04_customer_id_fkey" for relation "payment_p2020_04" already exists
psql:pagila/pagila-schema.sql:1717: ERROR:  constraint "payment_p2020_04_rental_id_fkey" for relation "payment_p2020_04" already exists
psql:pagila/pagila-schema.sql:1725: ERROR:  constraint "payment_p2020_04_staff_id_fkey" for relation "payment_p2020_04" already exists
psql:pagila/pagila-schema.sql:1733: ERROR:  constraint "payment_p2020_05_customer_id_fkey" for relation "payment_p2020_05" already exists
psql:pagila/pagila-schema.sql:1741: ERROR:  constraint "payment_p2020_05_rental_id_fkey" for relation "payment_p2020_05" already exists
psql:pagila/pagila-schema.sql:1749: ERROR:  constraint "payment_p2020_05_staff_id_fkey" for relation "payment_p2020_05" already exists
psql:pagila/pagila-schema.sql:1757: ERROR:  constraint "payment_p2020_06_customer_id_fkey" for relation "payment_p2020_06" already exists
psql:pagila/pagila-schema.sql:1765: ERROR:  constraint "payment_p2020_06_rental_id_fkey" for relation "payment_p2020_06" already exists
psql:pagila/pagila-schema.sql:1773: ERROR:  constraint "payment_p2020_06_staff_id_fkey" for relation "payment_p2020_06" already exists
psql:pagila/pagila-schema.sql:1781: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:pagila/pagila-schema.sql:1789: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:pagila/pagila-schema.sql:1797: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:pagila/pagila-schema.sql:1805: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:pagila/pagila-schema.sql:1813: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:pagila/pagila-schema.sql:1821: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

In [8]:
!psql -h localhost -U postgres -d pagila -f "pagila/pagila-data.sql"

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
psql:pagila/pagila-data.sql:224: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
psql:pagila/pagila-data.sql:341: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
psql:pagila/pagila-data.sql:949: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
psql:pagila/pagila-data.sql:1560: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
psql:pagila/pagila-data.sql:1584: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
psql:pagila/pagila-data.sql:1594: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
psql:pagila/pagila-data.sql:2201: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
psql:pagila/pagila-data.sql:2215: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
psql:pagila/pagila-data.sql:3223: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:pagila/pagila-data.sql:8693: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:pagila/pagila-data.sql:9701: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
psql:pagila/pagila-data.sql:14290: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
psql:pagila/pagila-data.sql:14300: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
psql:pagila/pagila-data.sql:30352: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
COPY 1157
COPY 2312
COPY 5644
COPY 6754
COPY 182
COPY 0
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

## PySpark Setup

Now, let's download what is necessary for initiating jdbc connections, as well as what is required to run PySpark itself.

In [9]:
# https://stackoverflow.com/questions/34948296/using-pyspark-to-connect-to-postgresql
!wget https://jdbc.postgresql.org/download/postgresql-42.5.0.jar

--2024-11-03 17:08:09--  https://jdbc.postgresql.org/download/postgresql-42.5.0.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1046274 (1022K) [application/java-archive]
Saving to: ‘postgresql-42.5.0.jar.1’

postgresql-42.5.0.j 100%[===================>]   1022K  6.47MB/s    in 0.2s

2024-11-03 17:08:10 (6.47 MB/s) - ‘postgresql-42.5.0.jar.1’ saved [1046274/1046274]

In [10]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import numpy as np

%config Completer.use_jedi = False

SPARKVERSION='3.2.1'
HADOOPVERSION='3.2'
pwd=os.getcwd()

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"{pwd}/spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}"

# print(os.environ['SPARK_HOME'])

In [11]:
!sudo apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://archive.apache.org/dist/spark/spark-{SPARKVERSION}/spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}.tgz
!tar xf spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}.tgz

--2024-11-03 17:08:17--  https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
Resolving archive.apache.org (archive.apache.org)... 65.108.204.189, 2a01:4f9:1a:a084::2
Connecting to archive.apache.org (archive.apache.org)|65.108.204.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 300971569 (287M) [application/x-gzip]
Saving to: ‘spark-3.2.1-bin-hadoop3.2.tgz.1’

spark-3.2.1-bin-had 100%[===================>] 287.03M  21.2MB/s    in 15s

2024-11-03 17:08:32 (19.3 MB/s) - ‘spark-3.2.1-bin-hadoop3.2.tgz.1’ saved [300971569/300971569]

In [12]:
!cp postgresql-42.5.0.jar spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}/jars

In [13]:
!pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [14]:
import findspark
findspark.init()
findspark.find()

# get a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.jars",
                                                       "postgresql-42.2.5.jar").config(
                                                          "spark.driver.extraClassPath",
                                                          f"spark-{SPARKVERSION}-bin-hadoop{HADOOPVERSION}/jars"
                                                       ).getOrCreate()
print(spark.conf.get('spark.jars'))

%env PYARROW_IGNORE_TIMEZONE=1

postgresql-42.2.5.jar
env: PYARROW_IGNORE_TIMEZONE=1

# Questions

### Question 1

Using a PySpark dataframe, print the schema of customer table in the pagila PostgreSQL database by utilising a JDBC connection.

In [15]:
# pyspark code
# Question 1

# Initialize SparkSession
import findspark
findspark.init()

from pyspark.sql import SparkSession

jdbc_jar_path = "/content/postgresql-42.5.0.jar"

spark = SparkSession.builder \
    .appName("PostgreSQL Example") \
    .config("spark.jars", jdbc_jar_path) \
    .getOrCreate()

jdbc_url = "jdbc:postgresql://localhost:5432/pagila"
connection_properties = {
    "user": "postgres",
    "password": "test",
    "driver": "org.postgresql.Driver"
}

customer_df = spark.read.jdbc(
    url=jdbc_url,
    table="customer",
    properties=connection_properties
)

customer_df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address_id: integer (nullable = true)
 |-- activebool: boolean (nullable = true)
 |-- create_date: date (nullable = true)
 |-- last_update: timestamp (nullable = true)
 |-- active: integer (nullable = true)

### Question 2

Use the Spark SQL API to query the customer table, compute the number of unique email addresses in that table and print the result in the notebook.

In [16]:
# pyspark code
# Question 2

# Create a temporary view of the 'customer' table
customer_df.createOrReplaceTempView("customer")

# Use Spark SQL to compute the number of unique email addresses
unique_emails_sql = spark.sql("""
    SELECT COUNT(DISTINCT email) AS unique_emails
    FROM customer
""")

# Display the result
unique_emails_sql.show()

+-------------+
|unique_emails|
+-------------+
|          599|
+-------------+

### Question 3

Repeat this calculation using only the Dataframe API and print the result.

In [17]:
# pyspark code
# Question 3

# Use DataFrame API to compute the number of unique email addresses
unique_emails_count = customer_df.select("email").distinct().count()

# Print the result
print(f"Number of unique email addresses: {unique_emails_count}")

Number of unique email addresses: 599

### Question 4

How many partitions are present in the dataframe resulting from Question 3 (additionally provide the code necessary to determine that)

In [18]:
# Question 4

# Get the number of partitions in the DataFrame
num_partitions = customer_df.select("email").distinct().rdd.getNumPartitions()

# Print the number of partitions
print(f"Number of partitions: {num_partitions}")

Number of partitions: 1

### Question 5

Compute the min and max of customer.create_date and print the result (once more using the Spark DataFrame API and not the Spark SQL API).

In [19]:
# Question 5

from pyspark.sql.functions import min, max

# Compute the min and max of 'create_date'
min_max_dates = customer_df.agg(
    min("create_date").alias("min_create_date"),
    max("create_date").alias("max_create_date")
)

# Display the result
min_max_dates.show()

+---------------+---------------+
|min_create_date|max_create_date|
+---------------+---------------+
|     2020-02-14|     2020-02-14|
+---------------+---------------+

### Question 6.1

Determine which first names occur more than once:

1. using the Spark SQL API (printing the result)

In [20]:
# Question 6.1

duplicate_first_names_sql = spark.sql("""
    SELECT first_name, COUNT(*) as count
    FROM customer
    GROUP BY first_name
    HAVING COUNT(*) > 1
    ORDER BY count DESC
""")

duplicate_first_names_sql.show()

+----------+-----+
|first_name|count|
+----------+-----+
|     TERRY|    2|
|    WILLIE|    2|
|    MARION|    2|
|     KELLY|    2|
|    LESLIE|    2|
|     JAMIE|    2|
|     TRACY|    2|
|    JESSIE|    2|
+----------+-----+

### Question 6.2

  2. using the Spark Dataframe API (printing the result once more).

In [21]:
# Question 6.2

from pyspark.sql.functions import count

duplicate_first_names_df = customer_df.groupBy("first_name") \
    .agg(count("*").alias("count")) \
    .filter("count > 1") \
    .orderBy("count", ascending=False)

duplicate_first_names_df.show()

+----------+-----+
|first_name|count|
+----------+-----+
|     TERRY|    2|
|    WILLIE|    2|
|    MARION|    2|
|     KELLY|    2|
|    LESLIE|    2|
|     JAMIE|    2|
|     TRACY|    2|
|    JESSIE|    2|
+----------+-----+

### Question 7

Port the PostgreSQL below to the PySpark DataFrame API and execute the query within Spark (not directly on PostgreSQL):

```
SELECT
   staff.first_name
   ,staff.last_name
   ,SUM(payment.amount)
 FROM payment
   INNER JOIN staff ON payment.staff_id = staff.staff_id
 WHERE payment.payment_date BETWEEN '2007-01-01' AND '2007-02-01'
 GROUP BY
   staff.last_name
   ,staff.first_name
 ORDER BY SUM(payment.amount)
 ;
```

In [22]:
# Question 7

from pyspark.sql.functions import sum as _sum, to_timestamp

# Read the 'payment' and 'staff' tables into DataFrames
payment_df = spark.read.jdbc(url=jdbc_url, table="payment", properties=connection_properties)
staff_df = spark.read.jdbc(url=jdbc_url, table="staff", properties=connection_properties)

# Perform an inner join on 'staff_id'
joined_df = payment_df.join(staff_df, on="staff_id", how="inner")

# Convert 'payment_date' to timestamp
joined_df = joined_df.withColumn("payment_date", to_timestamp("payment_date"))

# Check the min and max payment dates
joined_df.selectExpr("MIN(payment_date) AS min_date", "MAX(payment_date) AS max_date").show()

# Adjust the date range based on your data
# For example, filter between '2020-02-01' and '2020-03-01'
filtered_df = joined_df.filter(
    (joined_df.payment_date >= "2020-02-01") &
    (joined_df.payment_date <= "2020-03-01")
)

# Group by 'first_name' and 'last_name' and compute the sum of 'amount'
aggregated_df = filtered_df.groupBy(
    "first_name",
    "last_name"
).agg(
    _sum("amount").alias("total_amount")
)

# Order the results by 'total_amount'
result_df = aggregated_df.orderBy("total_amount")

# Display the result
result_df.show()

+--------------------+--------------------+
|            min_date|            max_date|
+--------------------+--------------------+
|2020-01-24 21:21:...|2020-05-14 12:44:...|
+--------------------+--------------------+

+----------+---------+------------+
|first_name|last_name|total_amount|
+----------+---------+------------+
|      Mike|  Hillyer|     9552.72|
|       Jon| Stephens|     9711.04|
+----------+---------+------------+

### Question 8

Are you currently executing commands on a driver node, or a worker? Provide the code you ran to determine that.

In [23]:
# Question 8

master_url = spark.sparkContext.master

print(f"The SparkContext master URL is: {master_url}")

if "local" in master_url:
    print("I am currently executing commands on the driver node.")
else:
    print("I am executing commands on a worker node.")

The SparkContext master URL is: local[*]
I am currently executing commands on the driver node.